<launch>
    <arg name="uwb_param_file" default="config/params.yaml"/>

    <!--Load parameters. These are global and shared by all machines.-->
    <rosparam command="load" file="$(find ifo_camera)/$(arg uwb_param_file)" ns="uwb"/>

	<!-- Launch the hardware -->
    <include file="$(find ifo_hardware)/launch/hardware.launch">
        <arg name="use_mocap" value="false"/>
        <arg name="use_realsense" value="true"/>"
    </include>
    
    <!-- Launch the cores -->
    <include file="$(find ifo_bringup)/launch/core.launch"> </include>
    
    <!-- Launch the UWB module -->
    <node pkg="uwb_ros" type="uwb_module_node.py" name="uwb_node" output="screen"/>

    <!-- Record the topics -->
    <node pkg="rosbag" type="record" name="rosbag_record"
        args="record -o /home/uvify/bags/imu
            /camera/imu
            /mavros/imu/data_raw
            /mavros/imu/mag
            /mavros/imu/static_pressure
            /uwb/passive 
            /uwb/range"/>

</launch>
