<launch>
	<!-- Launch the hardware -->
    <include file="$(find ifo_hardware)/launch/hardware.launch">
        <arg name="use_mocap" value="false"/>
        <arg name="use_realsense" value="true"/>"
    </include>
    
    <!-- Launch the cores -->
    <include file="$(find ifo_bringup)/launch/core.launch"> </include>
    
    <!-- Record the IMU topics -->
    <node pkg="rosbag" type="record" name="rosbag_record"
        args="record -o /home/uvify/bags/imu
            /camera/imu
            /mavros/imu/data_raw
            /mavros/imu/mag"/>
</launch>
