<launch>
	<!-- Launch the realsense node -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_gyro" value="true"/>
        <arg name="enable_accel" value="true"/>
        <arg name="accel_fps" value="250"/>
        <arg name="gyro_fps" value="200"/>
        <arg name="enable_infra1" value="true"/>
        <arg name="enable_infra2" value="true"/>
        <arg name="enable_color" value="true"/>
        <arg name="unite_imu_method" value="linear_interpolation"/>
    </include>

    <!-- Delay the recording by 10 seconds -->
    <node pkg="rosrun" type="sleep" name="delay_node" output="screen" args="10"/>

    <!-- Record the camera topics -->
    <node pkg="rosbag" type="record" name="rosbag_record"
        args="record -o /home/uvify/bags/calibrate
            /camera/imu
            /camera/infra1/image_rect_raw
            /camera/infra2/image_rect_raw
            /camera/color/image_raw"/>

</launch>
