<launch>
    <arg name="machine1" default="ifo001"/>
    <arg name="machine2" default="ifo002"/>
    <arg name="machine3" default="ifo003"/>
    <arg name="user" default="uvify"/>
    <arg name="password" default="uvify"/>

    <!--Launch nodes on other machines  -->
    <group ns="$(arg machine1)" unless="$(eval arg('machine1') == 'false')">
        <machine name="$(arg machine1)" address="$(arg machine1)" user="$(arg user)" 
            password="$(arg password)" default="true" 
            env-loader="/home/$(arg user)/catkin_ws/devel/env.sh"/>
        <!-- Launch the realsense node -->
        <include file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg name="initial_reset" value="true"/>
            <arg name="enable_gyro" value="true"/>
            <arg name="enable_accel" value="true"/>
            <arg name="accel_fps" value="250"/>
            <arg name="gyro_fps" value="200"/>
            <arg name="enable_color" value="true"/>
            <arg name="unite_imu_method" value="linear_interpolation"/>
        </include>
        <node pkg="rosbag" type="record" name="rosbag_record"
            args="record -o /home/$(arg user)/bags/$(arg machine1)_imu
                /$(arg machine1)/camera/imu"/>
    </group>

    <group ns="$(arg machine2)" unless="$(eval arg('machine2') == 'false')">
        <machine name="$(arg machine2)" address="$(arg machine2)" user="$(arg user)" 
            password="$(arg password)" default="true" 
            env-loader="/home/$(arg user)/catkin_ws/devel/env.sh"/>
        <!-- Launch the realsense node -->
        <include file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg name="initial_reset" value="true"/>
            <arg name="enable_gyro" value="true"/>
            <arg name="enable_accel" value="true"/>
            <arg name="accel_fps" value="250"/>
            <arg name="gyro_fps" value="200"/>
            <arg name="enable_color" value="true"/>
            <arg name="unite_imu_method" value="linear_interpolation"/>
        </include>
        <node pkg="rosbag" type="record" name="rosbag_record"
            args="record -o /home/$(arg user)/bags/$(arg machine2)_imu
                /$(arg machine2)/camera/imu"/>
    </group>

    <group ns="$(arg machine3)" unless="$(eval arg('machine3') == 'false')">
        <machine name="$(arg machine3)" address="$(arg machine3)" user="$(arg user)" 
            password="$(arg password)" default="true" 
            env-loader="/home/$(arg user)/catkin_ws/devel/env.sh"/>
        <!-- Launch the realsense node -->
        <include file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg name="initial_reset" value="true"/>
            <arg name="enable_gyro" value="true"/>
            <arg name="enable_accel" value="true"/>
            <arg name="accel_fps" value="250"/>
            <arg name="gyro_fps" value="200"/>
            <arg name="enable_color" value="true"/>
            <arg name="unite_imu_method" value="linear_interpolation"/>
        </include>
        <node pkg="rosbag" type="record" name="rosbag_record"
            args="record -o /home/$(arg user)/bags/$(arg machine3)_imu
                /$(arg machine3)/camera/imu"/>
    </group>

</launch>