<launch>
    <arg name="machine1" default="ifo001"/>
    <arg name="machine2" default="ifo002"/>
    <arg name="machine3" default="ifo003"/>
    <arg name="user" default="uvify"/>
    <arg name="password" default="uvify"/>

    <!--Launch nodes on other machines  -->
    <group ns="$(arg machine1)" unless="$(eval arg('machine1') == 'false')">
        <machine name="$(arg machine1)" address="$(arg machine1)" user="$(arg user)" 
            password="$(arg password)" default="true" 
            env-loader="/home/$(arg user)/catkin_ws/devel/env.sh"/>
        <!-- Launch the hardware -->
        <include file="$(find ifo_hardware)/launch/hardware.launch">
            <arg name="use_mocap" value="false"/>
            <arg name="use_realsense" value="true"/>
        </include>
        <!-- Launch the cores -->
        <include file="$(find ifo_bringup)/launch/core.launch"> </include>
        <!-- Record the IMU topics -->
        <node pkg="rosbag" type="record" name="rosbag_record"
            args="record -o /home/$(arg user)/bags/$(arg machine1)_imu
                /$(arg machine1)/camera/imu
                /$(arg machine1)/mavros/imu/data_raw
                /$(arg machine1)/mavros/imu/mag"/>
    </group>

    <group ns="$(arg machine2)" unless="$(eval arg('machine2') == 'false')">
        <machine name="$(arg machine2)" address="$(arg machine2)" user="$(arg user)" 
            password="$(arg password)" default="true" 
            env-loader="/home/$(arg user)/catkin_ws/devel/env.sh"/>
        <!-- Launch the hardware -->
        <include file="$(find ifo_hardware)/launch/hardware.launch">
            <arg name="use_mocap" value="false"/>
            <arg name="use_realsense" value="true"/>
        </include>
        <!-- Launch the cores -->
        <include file="$(find ifo_bringup)/launch/core.launch"> </include>
        <!-- Record the IMU topics -->
        <node pkg="rosbag" type="record" name="rosbag_record"
            args="record -o /home/$(arg user)/bags/$(arg machine2)_imu
                /$(arg machine2)/camera/imu
                /$(arg machine2)/mavros/imu/data_raw
                /$(arg machine2)/mavros/imu/mag"/>
    </group>

    <group ns="$(arg machine3)" unless="$(eval arg('machine3') == 'false')">
        <machine name="$(arg machine3)" address="$(arg machine3)" user="$(arg user)" 
            password="$(arg password)" default="true" 
            env-loader="/home/$(arg user)/catkin_ws/devel/env.sh"/>
        <!-- Launch the hardware -->
        <include file="$(find ifo_hardware)/launch/hardware.launch">
            <arg name="use_mocap" value="false"/>
            <arg name="use_realsense" value="true"/>
        </include>
        <!-- Launch the cores -->
        <include file="$(find ifo_bringup)/launch/core.launch"> </include>
        <!-- Record the IMU topics -->
        <node pkg="rosbag" type="record" name="rosbag_record"
            args="record -o /home/$(arg user)/bags/$(arg machine3)_imu
                /$(arg machine3)/camera/imu
                /$(arg machine3)/mavros/imu/data_raw
                /$(arg machine3)/mavros/imu/mag"/>
    </group>

</launch>