<launch>
	<!-- Launch the hardware -->
    <include file="$(find ifo_hardware)/launch/hardware.launch">
        <arg name="use_mocap" value="false"/>
        <arg name="use_realsense" value="true"/>"
    </include>

    <!-- Record the camera topics -->
    <node pkg="rosbag" type="record" name="rosbag_record"
        args="record -o /home/uvify/bags/images
            /camera/imu
            /camera/infra1/image_rect_raw/compressed
            /camera/infra2/image_rect_raw/compressed
            /camera/color/image_raw/compressed
            /mavros/imu/data_raw
            /mavros/imu/mag"/>
</launch>
