<launch>
	<!-- Launch the realsense node -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_gyro" value="true"/>
        <arg name="enable_accel" value="true"/>
        <arg name="accel_fps" value="250"/>
        <arg name="gyro_fps" value="200"/>
        <arg name="enable_color" value="true"/>
        <arg name="unite_imu_method" value="linear_interpolation"/>
    </include>

    <!-- Record the IMU topic -->
    <node pkg="rosbag" type="record" name="rosbag_record"
        args="record -o /home/uvify/bags/calibrate
            /camera/imu"/>

</launch>
